
 :root{
    --primary-text-color:#F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --primary-white-color: #ffffff;
    }

    body{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }
   
       .container{
        display: flex;
       align-items: center;
       width: 1200px;
       padding-left: 15px;
       padding-right: 15px;
       margin: 0 auto;
    }
    
    ul,
    li{
      margin: 0;
      padding: 0;
   }
   p{
      margin: 0;
   }
    
 
   
   
    /* WebStudio */
    .web{
      width: 1200px;
      padding-left: 15px;
      color: var(--accent-color);
      font-family: Raleway, cursive;
      font-size: 26px;
      line-height: 1.19;
    }

    .studio{
    width: 1200px;
    padding-right: 15px;
    color: #212121;
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
     } 


     /* Hero */
     .hero{  
     background-color: #2F303A;
     padding-top: 200px;
     padding-bottom: 210px;
     }
     .section-hero{
      
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
     }

     /* link */
    .link{
    color: var(--text-color);
    }
    .link:hover{
    color: var(--accent-color);
    }
    .link{
    
     color: var(--text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;
    }
       .auth-nav .link + .link{
       margin-left: 50px;
       }
       .auth-nav {
       display: flex;
       margin-left: auto;
       }
       .auth-nav li{
       margin-right: 50px;
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;
       
    }
   
    /*Убираємо точки із ul*/
    ul{
    list-style: none;
    }

    /* site-nav  */
    .site-nav{
       display: flex;
       margin-left: 93px;
       padding-top: 32px;
      padding-bottom: 32px;
    }
    .site-nav li{
      margin-right: 50px;
      display: block;
     
    }
     .site-nav li:last-child{
        margin-right: 0;
     }

    .site-nav-stydio {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display:inline-block;
    }

    .site-nav-portfolio,
    .site-nav-kontactu{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    display:inline-block;
    }


    /* section-glava */
    .section-glava{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    background-color:#2F303A;;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    }
    
    
    /* features */
    
    .features{
       display: flex;  
      
    }
    .features li:nth-child(4n){
     margin-right: 30px;
    }
    

    .features-title{
       margin-top: 0;
       margin-bottom: 10px;
    color: var(--title-text-color) ;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    }
    .features-list{
    color: var(--text-color);
    width: 270px;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    }
    .item{
       width: 270px;
       margin-right: 30px;
    }
    
    .features li:nth-child(4n){
       margin-right: 0;
    }
    /* section-title */
    .section-title{
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }

    .picture{
       width: 370px;
       margin-right: 30px;
       }
    .picture-work{
       display: flex;
       padding: 0;
       margin: 0;
    }
    .picture-work li:nth-child(3n){
       margin-right: 0;
    }

    /* Feat-es */
    .Feat-ess-title{
       color: var(--title-text-color) ;
      margin-top: 0;
      margin-bottom: 10px;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;
    }
    .Feat-es-list{
       color: var(--text-color);
       margin-top: 0;
       margin-bottom: 30px;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.18;
    }
    .photo-studio{
       margin-top: 0;
       margin-bottom: 30px;
    }

    .container-studio{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
     }

    .container-studio-comanda{
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: auto;
      margin-left: auto;
      padding: 0;
      
     }


    .feat-es{
      display: flex;
    }
    
    .feat-es li:nth-child(4n){
       margin-right: 0;
    }
    .comanda{
      width: 270px;
     text-align: center;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px;
      background: #FFFFFF;
      border-radius: 0px 0px 4px 4px;
      margin: 0;
      margin-right: 30px;
      padding: 0;

      
    }
    .photo-studio{
    width: 270px;
    }

    /* button */
    .button{
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 73px;
    border: 1px solid transparent;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
     line-height: 1.87;
    }
    .button:hover{
        color:var(--accent-color);
    }
    .button:focus{
       color: #F5F4FA;
    }

    /*button-portfolio */
    .button-portfolio{
      border-radius: 4px;
      padding: 6px 22px;
      min-width: 73px;
      margin-top: 0;
      margin-bottom: 56px;
      border: 1px solid transparent;
      text-align: center;
      color: var(--primary-white-color);
      font-weight: 700;
      font-size: 16px;
       line-height: 1.87;
    }
    
    /* Висота і щирина секціі */
    

    .section-comanda{
      padding-top: 94px;
       padding-bottom:  94px;
      background-color: var(--primary-text-color) ;
    }
    section{
     
      padding-top: 94px;
       padding-bottom:  94px;
    }
    .section-work{
      padding-bottom:  94px;
      padding-top: 0; 
    }


    /* footer */
   
    .adress{
       color: var(--primary-white-col);
       margin-top: 0;
       margin-bottom: 9px;
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
    }
    .auth-nav-footer{
       color: rgba(255, 255, 255, 0.6);
       margin-top: 0;
       margin-bottom: 9px;
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
    }
      
    
    /* portfolio */
    .portfolio-photo{
       margin-top: 0;
       margin-top: 0;
       margin-bottom: 20px;
    }

    .portfolio-title{
       color: var(--title-text-color) ;
       margin-top: 0;
       margin-bottom: 4px;
       font-weight: 700;
       font-size: 18px;
       line-height: 2;
    }

    .portfolio-list{
       color: var(--text-color);
       margin-top: 0;
      
       font-weight: 400;
       font-size: 16px;
       line-height: 1.87;
    }

    p{
       margin: 0;
    }
    /* portfolio container */

    .portfolio-container{
      display: flex;
      flex-wrap: wrap;
    width: 1200px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
   }



    .portfolio{
      display: flex;
      flex-wrap: wrap;
    }

    .portfolio li{
    flex-wrap: wrap;
    }
         

    .portfolio-element{
    flex-wrap: wrap;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
         }
      
.portfolio li:nth-child(3n){
 margin-right: 0
 }
       

/*button-portfolio  */

.button-portfolio{
  
 border-radius: 4px;
 
 min-width: 73px;
 border: 1px solid transparent;
 text-align: center;
 color: var(--title-text-color);
font-weight: 700;
 font-size: 16px;
 line-height: 1.87;

 }


.button-port:hover{
     color:var(--title-text-color);
     background-color: var(--accent-color);
   }
 .button-port:focus{
    color: var(--accent-color);
   }

          
.button-portfolio{
 display: flex;
 margin: auto;
 align-items: center;
margin-bottom: 50px;
            
         }
.button-portfolio .button-port {
  margin-right: 8px;
 display: block;
 padding-top: 6px;
 padding-bottom: 6px;
 padding-left: 22px;
 padding-right: 22px;
 border: 1px solid transparent;
}
.button-portfolio .button-port + .button-port{
    margin-left: 8px;
   }

 .studio-footer{
  width: 1200px;
 padding-right: 15px;
 color: #ffffff;  
 font-family: Raleway, cursive;
 font-size: 26px;
 line-height: 1.19;
 }

 .web-footer{
    width: 1200px;
 padding-left: 15px;
 color: var(--accent-color);
 font-family: Raleway, cursive;
 font-size: 26px;
 line-height: 1.19;
 }
       
 .footer{
 padding-top: 60px;
 padding-bottom: 60px;
 background-color: #2F303A;
}
 .new-footer{
 width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 align-items: center;
 margin: auto;
 }
 .container-footer{
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0;
    }

 .flex-conteiner{
 flex-wrap: wrap;
 padding: 24px 20px;
 }

  .portfolio-element{
   box-sizing: border-box;
   width: 370px;
   border: 1px solid #EEEEEE;
   background: #FFFFFF;
   margin-top: 0;
   margin-top: 0;
   margin-bottom: 30px;
 }

 /*  Встановить стилі нижньої рамки */
 header{
   border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:#ECECEC;
}

.center{
   text-align: center;
}
.container-webstudio{
   padding-bottom: 20px;
}