 /* Color*/
 :root{
    --primary-text-color:#F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --primary-white-color: #ffffff;
    }

    body{
    color: #ffffff;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    }
   
    .container {
      display: flex;
      align-items: center;
      justify-content: ;
       width: 1230px;
       padding-left: 15px;
       padding-right: 15px;
       margin: 0 auto;
    }

    
    /* WebStudio */
    .web{
    color: var(--accent-color);
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
    }
    .studio{
    color: #212121;
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.19;
     }

     /* Hero */
     .hero{
        text-align: center;
        background-color: #2F303A;;
     }

     /* link */
    .link{
    color: var(--text-color);
    }
    .link:hover{
    color: var(--accent-color);
    }
    .link{
     color: var(--text-color);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     text-decoration: none;
    }
       .auth-nav .link + .link{
       margin-left: 50px;
       }
       .auth-nav {
         display: flex;
         margin-left: auto;
       }
       .auth-nav li{
       margin-right: 50px;
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;
       
    }
   
    /*Убираємо точки із ul*/
    ul{
    list-style: none;
    }

    /* site-nav  */
    .site-nav{
       display: flex;
       margin-left: 93px;
    }
    .site-nav li{
      margin-right: 50px;
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
     .site-nav li:last-child{
        margin-right: 0;
     }

    .site-nav-stydio {
    color: var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    }

    .site-nav-portfolio,
    .site-nav-kontactu{
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    }


    
    /* section-glava */
    .section-glava{
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    background-color:#2F303A;;
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    }
    
    
    /* features */
    
    .features{
       display: flex;
       flex-wrap: wrap;
    }

    .features .item{
       
    }
    .features-title{
       margin-top: 0;
       margin-bottom: 10px;
    color: var(--title-text-color) ;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    }
    .features-list{
    color: var(--text-color);
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    }

    /* section-title */
    .section-title{
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }

    /* Feat-es */
    .Feat-ess-title{
       color: var(--title-text-color) ;
      margin-top: 0;
      margin-bottom: 10px;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.18;
    }
    .Feat-es-list{
       color: var(--text-color);
       margin-top: 0;
       margin-bottom: 30px;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.18;
    }
    .photo-studio{
       margin-top: 0;
       margin-bottom: 30px;
    }

    /* button */
    .button{
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 73px;
    border: 1px solid transparent;
    text-align: center;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
     line-height: 1.87;
    }
    .button:hover{
        color:var(--accent-color);
    }
    .button:focus{
       color: #F5F4FA;
    }

    /*button-portfolio */
    .button-portfolio{
      border-radius: 4px;
      padding: 6px 22px;
      min-width: 73px;
      margin-top: 0;
      margin-bottom: 56px;
      border: 1px solid transparent;
      text-align: center;
      color: var(--primary-white-color);
      font-weight: 700;
      font-size: 16px;
       line-height: 1.87;
    }
    
    /* Висота і щирина секціі */
    section{
       padding-top: 94px;
       padding-bottom:  94px;
    }

    .section-comanda{
      padding-top: 94px;
      padding-bottom:  94px;
      background-color: var(--primary-text-color) ;
    }
    /* footer */
    .footer{
       background-color: #2F303A;;
    }
    .adress{
       color: var(--primary-white-col);
       margin-top: 0;
       margin-bottom: 9px;
       font-weight: 400;
       font-size: 14px;
       line-height: 2;
    }
     .link-email{
        margin-top: 0;
        margin-bottom: 9px;
     }
     .link-tel{
        margin-top: 0;
        margin-bottom: 9px;
     }
    
    /* portfolio */
    .portfolio-photo{
       margin-top: 0;
       margin-bottom: 20px;
    }

    .portfolio-title{
       color: var(--title-text-color) ;
       margin-top: 0;
       margin-bottom: 4px;
       font-weight: 700;
       font-size: 18px;
       line-height: 2;
    }

    .portfolio-list{
       color: var(--text-color);
       margin-top: 0;
       margin-bottom: 30px;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.87;
    }

   
       
   